@background_color: yellow;

.stashCheckerPopup {
    z-index: 999 !important;
    position: absolute !important;
    color: black !important;
    text-align: left !important;
    font-size: medium !important;
    line-height: normal !important;
    background-color: white !important;
    border: 0.1em solid black !important;
    border-radius: 0.5em !important;
    padding: 0.5em !important;
    margin-top: -0.5em !important;
}
