
:root {
    --stash-checker-color-text: #323232;
    --stash-checker-color-link-visited: #323232;
    --stash-checker-color-link-hover: #039;
    --stash-checker-color-link-active: #039;
    --stash-checker-color-border: #323232;
    --stash-checker-color-bg: #ffffff;
    --stash-checker-color-card: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --stash-checker-color-text: #e0e0e0;
        --stash-checker-color-link-visited: #c7c7c7;
        --stash-checker-color-link-hover: #f2f2f2;
        --stash-checker-color-link-active: #039;
        --stash-checker-color-border: #5a5a5a;
        --stash-checker-color-bg: #202020;
        --stash-checker-color-card: #464646;
    }
}

.stashChecker {
    color: var(--stash-checker-color-text);
    text-align: left;
    font-size: medium;
    line-height: normal;
    opacity: 1;
}

.stashChecker.tooltip {
    z-index: 99999;
    position: fixed;
    background-color: var(--stash-checker-color-bg);
    border: 0.1em solid var(--stash-checker-color-border);
    border-radius: 0.5em;
    padding: 0.5em;
    margin-top: -0.5em;
}

.stashChecker.file {
    margin: 0.5em;
    padding: 0.5em;
    background-color: var(--stash-checker-color-card);
}

.stashChecker.modal {
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); // fallback
    background-color: rgba(0,0,0,0.4);
}

.stashChecker.settings {
    margin: 20vh auto;
    background-color: var(--stash-checker-color-bg);
    border: 0.1em solid var(--stash-checker-color-border);
    border-radius: 0.5em;
    padding: 0.5em;
    width: auto;
}

.stashChecker.endpoints {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    justify-items: flex-start;
    align-items: stretch;
}

.stashChecker.endpoint {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: flex-start;
    align-items: center;
    width: 30em;
    padding: 1em;
    margin: 1em;
    background-color: var(--stash-checker-color-card);
}

.stashChecker.endpoint button {
    background-color: red;
    height: 2em;
    width: 4em;
}

.stashChecker.tooltip a:link {
    color: var(--stash-checker-color-text);
}
.stashChecker.tooltip a:visited {
    color: var(--stash-checker-color-link-visited);
}
.stashChecker.tooltip a:hover {
    color: var(--stash-checker-color-link-hover);
}
.stashChecker.tooltip a:active {
    color: var(--stash-checker-color-link-active);
}
.stashChecker.tooltip hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-color: var(--stash-checker-color-card);
}

.stashChecker.tooltip hr + br {
    display: none;
}

.stashChecker.file + br {
    display: none;
}

.stashCheckerCheckmark {
    font-size: inherit;
}
